<section class="chat">
    <div class="chat__container-users">
        <div class="chat__container-header">
            <h2 class="chat__header">Chatty</h2>
            {{{ HeaderIcons onClick=this.onClick }}}
        </div>
        <ul class="chat__container-stories-list">
          {{#each stories}}
            {{{ Story owner=this.owner extraClass=this.extraClass src=this.src alt=this.alt }}}
          {{/each}}
        </ul>
        <div class="chat__search-bar">{{{ SearchBar }}}</div>
        <ul class="chat__container-users-list">
          {{{ ChatListCreate ref="create" inputs=this.inputs buttons=this.buttons }}}
          {{#each chats}}
            {{#if this.avatar }}
              {{{ User id=this.id last_message=this.last_message title=this.title unread_count=this.unread_count src=this.avatar }}}
            {{else}}
              {{{ User id=this.id last_message=this.last_message title=this.title unread_count=this.unread_count src='' }}}
            {{/if}}
          {{/each}}
        </ul>
          {{{ BottomBar }}}
    </div>
    <div class="chat__container-chats">
        {{{ Messenger }}}
    </div>
</section>
