<section class="chat">
    <div class="chat__container-users">
        <div class="chat__container-header">
            <h2 class="chat__header">More</h2>
        </div>
        <div class="chat__container-profile">
          <div class="chat__container-profile-ava">
            <img class="chat__container-profile-img" src="/images/ava-4.jpg" alt="Фотография профиля">
          </div>
          <div class="chat__container-profile-info">
            <p class="chat__container-profile-info-contact">Almayra Zamzamy</p>
            <p class="chat__container-profile-info-contact chat__container-profile-info-contact_type_tel">+62 1309 - 1710 - 1920</p>
          </div>
          <img class="chat__container-profile-arrow" src="/images/arrow.svg" alt="Иконка. Стрелка вперёд">
        </div>
        <ul class="chat__container-profile-settings">
            {{{ ProfileSettingsItem setting-name="Account" setting-img-src="/images/account-icon.svg" setting-alt="Иконка. Настройки аккаунта"}}}
            {{{ ProfileSettingsItem setting-name="Chats" setting-img-src="/images/bottom-bar-icon_chats.svg" setting-alt="Иконка. Чаты"}}}
        </ul>
        <ul class="chat__container-profile-settings chat__container-profile-settings_type_last">
            {{{ ProfileSettingsItem setting-name="Appearance" setting-img-src="/images/appearance-icon.svg" setting-alt="Иконка. Солнышко"}}}
            {{{ ProfileSettingsItem setting-name="Notification" setting-img-src="/images/notification-icon.svg" setting-alt="Иконка. Колокольчик"}}}
            {{{ ProfileSettingsItem setting-name="Privacy" setting-img-src="/images/privacy-icon.svg" setting-alt="Иконка. Щит"}}}
            {{{ ProfileSettingsItem setting-name="Data Usage" setting-img-src="/images/data-usage-icon.svg" setting-alt="Иконка. Папочка"}}}
        </ul>
        {{{ BottomBar }}}
    </div>
    <div class="chat__container-profile-changing">
        <div class="chat__container-profile-ava chat__container-profile-ava_type_change-profile">
          <img class="chat__container-profile-img chat__container-profile-img_type_change-profile" src="/images/ava-4.jpg" alt="Фотография профиля">
        </div>
        <form class="login-form">
            {{{ Input label="EMAIL" name="email" }}}
            {{{ Input label="Login" name="login" }}}
            {{{ Input label="First Name" name="first_name" data="Almayra Zamzamy" }}}
            {{{ Input label="Last Name" name="second_name" }}}
            {{{ Input label="Phone Number" name="phone" data="+62 1309 - 1710 - 1920" }}}
            {{{ Input label="New password" name="password" }}}
            {{{ Input label="Confirm New password" name="confirm_password" }}}
            {{{ Button label="Отменить изменения" classType="disabled"}}}
            {{{ Button label="Выйти из профиля" classType="secondary" page="login"}}}
        </form>
    </div>
</section>
