{{#if selectedChat }}
    <div class="messenger">
        <div class="messenger__header-container">
            <h2 class="messenger__header-title">{{{ chatInfo.title }}}</h2>
            <div class="messenger__header-buttons-container">
              {{{ FormContainer ref="addUser" formContainerExtraClass=this.formContainerExtraClass selectedChat=this.selectedChat }}}
              {{#each headerButtons}}
                {{{ headerButton extraClass=this.extraClass handleClick=this.handleClick }}}
              {{/each}}
            </div>
        </div>
        <ul class="messenger__container">
          {{#each messages}}
            {{{ Message content=this.content user_id=this.user_id isMine=this.isMine }}}
          {{/each}}
        </ul>
        {{{ Form inputs=this.inputs buttons=this.buttons }}}
    </div>
{{else}}
    <h2 class="chat__disclaimer">Chatty: Выберите чат чтобы отправить сообщение</h2>
{{/if}}

